/* Ensure that the navigation is semantically marked as such (i.e. wrap it in the correct HTML tag). */
/* Section elements should be contained within an article element. */
/* There are two missing closing tags in this document. Make sure you add them back in. */

/* The header element should have a 1px, goldenrod border. */
header {
    border: 1px solid goldenrod;
}
          
/* Convert the ul in the navigation element into a series of horizontal links with
# as the href value, without bullets, and have some space between them horizontally. */
header li {
    padding: 5px 5px;
    display: inline-block;
}

/* Any text in an element with class "disabled" should be colored grey,
unless it is an attribute of an anchor tag. If it is an attribute of an anchor tag,
it should be colored orange. */
.disabled {
    color: grey;
}

a.disabled {
    color: orange;
}

/* Any text inside an element with a class of "active" should be colored yellow. */
.active {
    color: yellow;
}

/* Make the "I'm red" text colored red. */
.parent > div div:first-child {
    color: red;
}

/* Make the "I'm blue" text colored blue. */
.parent > div div:last-of-type {
    color: blue;
}

/* The sibling h4 of the red element should have a background color of red. */
.parent > div div:first-child ~ h4:first-of-type {
    background-color: red;
}

/* The sibling h4 of the blue element should have background color of blue. */
.parent > div div:last-of-type ~ h4:last-of-type {
    background-color: blue;
}

/* Any h4 that is a direct child of grandparent should have a 1px border with rounded corners. */
.grandparent > h4 {
    border: 1px solid;
    border-radius: 3px;
}

/* Elements with a class of promo should have bold text that is also colored gold. */
.promo {
    color: gold;
    font-weight: bold;
}

/* Without adding any other attributes to the input fields in the footer,
write a CSS selector that makes any text input field have a height of 25px. */
.padded span [type=text] {
    height: 25px;
    width: 170px;
}

.padded span [type=tel] {
    width: 180px;
}

footer .promo {
    padding-bottom: 10px;
}

